@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import 'bower_components/fontawesome/scss/font-awesome';
@import 'responsive.scss';

// sass variables //
//colors
$primary-green: #118c4e;
$primary-red: red;

//font weight
$font-low: 300;
$font-med: 400;
$font-high: 700;

//font transition
@mixin text-transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
}
@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}
%vertical-align {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
// end sass variables //

// global //
html {
  height: 100%;
}
body {
  font-family: 'Oswald', sans-serif;
  font-weight: $font-low;
//  padding-top: 120px;
  height: 100%;
}
html, body {
  box-sizing: border-box;
}
//Set the default view size
.ember-view { 
  height: 100% ;
}
@media (max-width: 1000px) {
  body {font-size: large; }
}
@media (max-width: 500px) {
  body {font-size: medium; }
}
*, *:before, *:after{
  box-sizing: border-box;
}
.full-height {
  height: 100%
}
.double-height {
  height: 150%
}
.full-width {
  width: 100%;
}
.full-hw {
  height: 100%;
  width: 100%;
}
label { 
  margin: 0px;
}
// end global //

// application.hbs navigation //

//remove space between body and navbar
.navbar {
  margin-bottom: 0px !important;
  border: none !important;
  width: 100%;
}
#header-right {
  overflow: hidden;
  padding-right: 10px;
}
//breadcrumbs navigation
.breadcrumbs {
  overflow: hidden !important;
  padding-right: 10px;
}
.breadcrumbs li {
  font-size: 1.4em;
  display: block;
  float: left;
  background: $primary-green;
  text-align: center;
  padding: 0px 40px 0px 40px;
  margin: 0 45px 0 0;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.breadcrumbs li:hover {
  background: $primary-red;
}
.breadcrumbs li:after {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid $primary-green;
  position: absolute;
  right: -40px;
  top: -10px;
}
.breadcrumbs li:before {
  content: "";
  position: absolute;
  border-width: 40px 0 40px 40px;
  border-style: solid;
  border-color: $primary-green $primary-green $primary-green transparent;
  left: -40px;
  top: -10px;
}
.breadcrumbs li:hover::before {
  border-color: $primary-red $primary-red $primary-red transparent;
}
.breadcrumbs li:hover::after {
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid $primary-red;
}
.breadcrumbs li:first-child::before {
  display:none;
}
.breadcrumbs li:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 1px;
}
.navbar {
  background-color: white;
}
.navbar-simple {
  display: table;
}
.navbar-brand {
  padding-bottom: 15px;
  font-size: 4em;
  outline: 0;
  color: $primary-green;
  cursor: pointer;
}
.navbar-brand:hover {
  color: $primary-red !important;
}
.navbar-brand:visited {
  color: $primary-green;
}
.container-fluid {
  display: table-cell;
  height: 120px;
  vertical-align: middle;
  padding-top: 25px;
}
.logo-globe {
  height: 84px;
  width: 84px;
  background: url(images/logo-globe.png) no-repeat 0 0, url(images/logo-globe-hover.png);
  margin-top: -25px;
  padding: 20px 10px 0px 0px;
}
.logo-globe:hover {
  background: url(images/logo-globe-hover.png) no-repeat 0 0;
}
.navbar-toggle {
  background-color: grey;
}
// end application.hbs navigation //

// welcome.hbs //
.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.screen {
  position: relative;
  height: 100%;
  width: 100%;
  float: left;
}
#screen-welcome {
  background: url(images/welcome.jpg) 50% 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.fill-lite {
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.fill-dark {
  height: 100%;
  background-color: rgba(191,84,48,0.4);
}
.sloganContainer {
  position: absolute;
  text-align: center;
  width: 100%;
  border: none;
  color: white;
  top: 20%;
  font-size: 3em;
  text-shadow: 3px 3px 4px black;
  vertical-align: middle;
  z-index: 10;
}
.slogan {
  display: inline-block;
}
#banner-text {
  font-size: 2.4em;
  text-transform: uppercase;
  color: white;
  text-align: justify;
  text-shadow: 2px 2px 4px black;
  border: none;
  @include text-transition(all 0.3s ease-in-out 0s);
}
#banner-text:hover {
  color: $primary-red;
  text-decoration: none;
}
.img-circle {
  border-radius: 50%;
}
.bannerContainer {
  position: absolute;
  text-align: center;
  border-style: solid;
  background: url(images/river-small.jpg) no-repeat 0 0;
  color: white;
  top: 35%;
  left: 48%;
  width: 300px;
  height: 300px;
  margin-left: -127px;
  vertical-align: middle;
  overflow: hidden;
  z-index: 3;
}
.bannerContainer:hover {
  border-style: 2px dashed white;
  color: $primary-red;
}
.explore-text {
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px black;
  border: none;
  @include text-transition(all 0.3s ease-in-out 0s);
}
.explore-text:hover {
  color: $primary-red;
  text-decoration: none;
}
.left-overlap {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left:0;
  text-align: center;
  padding: 20%;
  min-height: 100%;
}
.right-overlap {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  text-align: center;
  padding: 20%;
  min-height: 100%;
}
.welcome-content {
  padding-top: 175px;
}

//for parallax scrolling 
.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  vertical-align: middle;
  opacity: 1;
}
.hsContent {
  margin: 150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  height: 80%;
  width: 80%;
  z-index: 20;
  padding: 0 8%;
  text-align: center;
}
.btn-text {
  padding: 20px;
  background: rgba(0,0,0,0.4);
  background-image: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  border: solid white 1px;
  color: white;
  letter-spacing: 1px;
  font-size: 1.5em;
  text-align: justify;
  text-shadow: none;
  text-transform: uppercase;
  @include text-transition(all 0.3s ease-in-out 0s);
}
.btn-text:hover {
  @include box-shadow(none);
  border: dashed white 1px;
  color: red !important;
  text-decoration: none;
}
.btn-text:focus {
  outline: 0;
}
.btn-text:active {
  border:none;
}
// end welcome.hbs //

// cesium.hbs //
.map-overlap {
  background-color: rgba(0,0,0,0.4);
}
#cesiumContainer {
  width: 100%;
  height: 90%;
  margin: 120px 0 0 0;
  overflow: hidden;
  padding: 0;
  font-family: sans-serif;
}
#cesiumViewContainer {
  padding-right: 0px !important;
}
#cesium-main {
  background: url(images/cesium-main.jpg) 50% 0 no-repeat;
  background-size:cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
#cesium-submain {
  overflow: hidden;
}
#cesium-left-col {
  margin-top: 120px;
}
#cesium-mid-col {
  margin-top: 120px;
}
#cesium-right-col {
  padding-right: 0px !important;
}
input[type=checkbox] {
  padding: 0;
}
.rcp-toolbar
  input[type="radio"] {
    margin: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding: none;
}
.rcp-toolbar label {
  background-color: rgba(0, 0, 0, 0.4);
}

// Uncomment visibility:hidden once functionality has been set in cesium.hbs!!

.rcp-group-toolbar {
//  visibility: hidden;
  vertical-align: center;
  width: 100%;
}
// .form-group currently not being used!!
.form-group-1 {
 margin: 0px !important;
}
.year-desc-3 {
  padding-top: 5%;
}
// cesium buttons
.btn-temp {
  height: 100%;
  background: none;
  background-image: none;
  border-radius: 0%;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-shadow: 1px 1px 2px 2px #000;
  -moz-box-shadow: 1px 1px 2px 2px #000;
  box-shadow: 1px 1px 2px 2px #000;
  border: 1px solid white; 
  color: #fff;
  font-size: 1em; 
  text-decoration: none !important;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.btn-temp:hover {
  background: rgba(0,0,0,0.3);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /*-webkit-transform: scale(1.1);*/
  /*-moz-transform: scale(1.1);*/
  border: 2px dashed white; 
}
.btn-temp:focus {
}
.btn-temp:active {
  border: 4px solid white;
}
div.best-case-label{
  height: 60px;
  width: 60px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background: url(images/best-case-red-60.png) no-repeat 0 0;
}
div.worst-case-label {
  height: 60px;
  width: 60px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background: url(images/stable-red-60.png) no-repeat 0 0;
}
.rcp-label {
  color: white!important;
  background: none;
  width: 100%; 
  text-align: center;
  text-transform: none;
  font-size: 1.2em; 
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease-in;
  font-weight: 300 !important;
}
.rcp-label:hover {
  background: rgba(0,0,0,0.6);
  color: red !important;
  -webkit-background-origin: padding-box;
  -moz-background-origin: padding-box;
  /*-webkit-transform: scale(1.1);*/
 /* -moz-transform: scale(1.1);*/
}
.ember-select {
  background: rgba(0,0,0, 0.3);
  color: white;
  width: 100%;
  padding: 5px;
  font-size: 1em;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
/*  -moz-appearance: none;
  -webkit-appearance: none;*/
}
.ember-select option {
  background: transparent;
  width: 100%;
  padding: 5px;
  font-size: 1em;
  line-height: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
}
.ember-text-field {
  background: rgba(0,0,0, 0.5);
  color: white;
  font-size: 1em;
  line-height: 1;
  border: 0;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 40px;
}
.ember-text-field:focus {
  background: rgba(0,0,0,0.6);
  -webkit-box-shadow: none;
  outline: 0;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transform: scale(1.1);
  border: 2px dashed white; 
}
//slider
.slider-year {
  color: white;
  margin-top: 20px;
  font-size: 1.5em;
}
.slider-period {
  color: white;
}
.slider-view {
  min-height: 20px;
}
.slider {
  width: 250px !important;
  height: 20px;
  margin: auto;
  display: block;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}
/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}
.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
//map steps
.map-step {
  color: white;
  padding-top: 2%;
  font-size: 1.5em;
}
hr.maps-hr {
  background: white;
  height: 1px;
  width: 100%;
  border: none;
  margin: 0px auto 0px auto;
  padding: 0px;
}
hr.maps-hr2 {
  background: white 	!important;
  height: 1px		!important;
  width: 100%		!important;
  border: none		!important;
  margin: 0px auto 0px auto !important;
  padding: none		!important;
}
//maptips
.tips {
  background: rgba(192,192,192,1);
}
#maptips:hover {
}
//tip1
div.tip1 {
  background-image: url(images/help.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  width: 16px;
  display: table-cell;
  float: right;
  vertical-align: middle;
}
.tip1 span {
  margin-left: -999em !important;
  position: absolute !important;
  z-index: 1 !important;
  border-radius: 10%;
  text-align: left;
  padding: 20px;
}
.tip1:hover span {
  position: absolute !important;
  left: 50px !important;
  top: 180px !important;
  z-index: 1 !important;
  margin-left: 10px !important;
  width: 350px !important;
  height: 400px;
}
//end tip1
//tip2
div.tip2 {
  background-image: url(images/help.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  width: 16px;
  display: table-cell;
  float: right;
  vertical-align: middle;
}
.tip2 span {
  margin-left: -999em !important;
  position: absolute !important;
  z-index: 1 !important;
  border-radius: 10%;
  text-align: left;
  padding: 20px;
}
.tip2:hover span {
  position: absolute !important;
  left: 50px !important;
  top: 22px !important;
  z-index: 1 !important;
  margin-left: 10px !important;
  width: 350px !important;
  height: 400px;
}
//end tip2
//tip3
div.tip3 {
  background-image: url(images/help.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  width: 16px;
  display: table-cell;
  float: right;
  vertical-align: middle;
}
.tip3 span {
  margin-left: -999em !important;
  position: absolute !important;
  z-index: 1 !important;
  border-radius: 10%;
  text-align: left;
  padding: 20px;
}
.tip3:hover span {
  position: absolute !important;
  right: 10px !important;
  top: 220px !important;
  z-index: 1 !important;
  margin-left: 10px !important;
  width: 350px !important;
  height: 400px;
}
//end tip3

// end cesium.hbs //


// headlines.hbs //
#headlinesContainer {
  height: 100%;
  position: absolute;
}
//navigation
div#rightNavContainer {
  z-index: 1 !important;
  position: fixed;
  right: 40px;
  padding-top: 120px;
  @extend %vertical-align;
}
div.right-nav-icon {
  margin: 25px 0px 25px 0px;
  content: url(images/right-nav-circle.png) no-repeat 0 0;
  cursor: pointer;
}
div.right-nav-icon:hover {
  content: url(images/right-nav-circle-active.png) no-repeat 0 0;
}
div.right-nav-icon:active {
  content: url(images/right-nav-circle-active.png) no-repeat 0 0;
}
div.right-nav-active {
  content: url(images/right-nav-circle-active.png) no-repeat 0 0;
  cursor: pointer;
}
// end headlines.hbs //

// headline.hbs //
.down-arrow {
  font-size: 2em;
  left: 48%;
  display: block;
  position: absolute;
  bottom: 20px !important;
  margin: 0px 0px 1% 0px;
  cursor: pointer;
}
.svg-down-arrow {
  background-image: url(images/down-arrow-white.svg), url(images/down-arrow-red.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 95px;
  width: 50px;
}
.svg-down-arrow:hover {
  background-image: url(images/down-arrow-red.svg);
}
.detail-content {
  color: black;
}
.detail-text-med {
  font-size: 1.5em
}
// end headline.hbs //


// cesium.hbs buttons //

@-webkit-keyframes spin {
  100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
  100% {-moz-transform: rotate(360deg);}
}
@keyframes spin {
  100% {transform: rotate(360deg);}
}
@-webkit-keyframes pulse {
  0% {-webkit-transform: scale(1);}
  50% {-webkit-transform: scale(1.2); color: red;}
  100% {-webkit-transform: scale(1);}
}
@-moz-keyframes pulse {
  0% {-moz-transform: scale(1);}
  50% {-moz-transform: scale(1.2); color: red;}
  100% {-moz-transform: scale(1);}
}
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.2); color: red;}
  100%{transform: scale(1);}
}
.btn-control {
  font-family: 'Oswald', 'sans';
  height: 100%;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0%;
  -webkit-box-shadow: 1px 1px 2px 2px #000;
  -moz-box-shadow: 1px 1px 2px 2px #000;
  box-shadow: 1px 1px 2px 2px #000;
  border: 1px solid white; 
  color: #fff;
  font-size: 1em; 
  text-decoration: none !important;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.btn-control:hover {
  background: rgba(0,0,0,0.6);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /*-webkit-transform: scale(1.1);*/
  /*-moz-transform: scale(1.1);*/
  border: 2px dashed white;
  color: red !important;
}
.btn-control:focus {
}
.btn-control:active {
  border: 4px solid white;
}
.btn-temp {
  height: 100%;
  background: none;
  background-image: none;
  border-radius: 0%;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-shadow: 1px 1px 2px 2px #000;
  -moz-box-shadow: 1px 1px 2px 2px #000;
  box-shadow: 1px 1px 2px 2px #000;
  border: 1px solid white; 
  color: #fff;
  font-size: 1em; 
  text-decoration: none !important;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.btn-temp:hover {
  background: rgba(0,0,0,0.3);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /*-webkit-transform: scale(1.1);*/
  /*-moz-transform: scale(1.1);*/
  border: 2px dashed white; 
}
.btn-temp:focus {
}
.btn-temp:active {
  border: 4px solid white;
}
.btn-map {
  padding: 15px 20px 15px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff !important;
  border-radius: 50%;
  border: 3px solid #fff;
  overflow: hidden;
  text-transform: uppercase;
  box-sizing: border-box;
  font: -webkit-small-control;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  top: 0;  
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: 1px 1px 2px 2px #000;
  -moz-box-shadow: 1px 1px 2px 2px #000;
  box-shadow: 1px 1px 2px 2px #000;
}
.btn-map:hover {
    background: rgba(0,0,0,0.6);
    -webkit-background-origin: padding-box;
    -moz-background-origin: padding-box;
    background-attachment: scroll;
    border: 2px dashed white;
    color: red !important; 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*-webkit-transform: scale(1.1);*/
    /*-moz-transform: scale(1,1.1);*/
}
.btn-map:focus {
  outline: 0
}
.btn-map:active {
  background: rgba(0,0,0,0.3);
  //font-weight:900;
  border: 2px solid #bf3604;
  color: #bf3604;
  cursor: progress;
}
.spinner{
  display: inline-block;
  opacity: 0;
  width: 0;
  
  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}
.arrow{
  display: inline-block;
  opacity: 1;
  width: auto;

  -webkit-transition: opacity 0s, width 0s;
  -moz-transition: opacity 0s, width 0s;
  -o-transition: opacity 0s, width 0s;
  transition: opacity 0s, width 0s;
}
.has-spinner {
  cursor: progress;
}
.has-spinner .spinner {
  opacity: 1;
  width: auto;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  
}
.has-spinner .arrow {
  opacity: 0;
  width: 0;
}
.spinThis {
  opacity: 1;
  width: auto;
  -webkit-animation: spin 4s infinite;
  -moz-animation: spin 4s infinite;
  
}
.rcp-label {
  color: white!important;
  background: none;
  width: 100%; 
  text-align: center;
  text-transform: none;
  font-size: 1.2em; 
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease-in;
  font-weight: 300 !important;
}
.rcp-label:hover {
  background: rgba(0,0,0,0.6);
  //font-weight: 800;
  color: red !important;
  -webkit-background-origin: padding-box;
  -moz-background-origin: padding-box;
  /*-webkit-transform: scale(1.1);*/
 /* -moz-transform: scale(1.1);*/
}
.pulse {
  -webkit-animation: pulse 1s 2;
  -moz-animation: pulse 1s 2;
 }
.pulseOnce {
  -webkit-animation: pulse 1s 1;
  -moz-animation: pulse 1s 1;
}
.navbar-simple .navbar-inner .nav li.active a {
  color: #118C4E;
}

// end cesium.hbs buttons //
