// Responsive styling
//
// View thresholds:
//   welcome.hbs: 1001px
//

@media screen and (max-width: 1001px) {
  #breadcrumbs {
    display: none !important;
  }
  #welcome-left {
    margin-left: -164% !important;
  }
  #welcome-right {
    margin-left: 50% !important;
  }
  .explore-text {
    font-size: 0.75em !important;
  }
  .sloganContainer {
    font-size: 2.3em !important;
  }
  .navbar-hide {
    display: none !important; 
  }
  .navbar-header {
    width: 100% !important;
  }
  .navbar-brand {
    font-size: 2.6em !important;
  }
  .navbar-brand-collapsed {
    padding-left: 0 !important;
  }
  .navbar-toggle {
    //visibility: visible !important;
    display: none !important;
  }
  .navbar-right {
    overflow: hidden !important;
  }
  .breadcrumbs li:before {
    top: -3px !important;
  }
  .breadcrumbs li:after {
    top: -3px !important;
  }
  #header-left {
    width: 50% !important;
  }
  .navbar-ffdm-header {
    width: 25% !important;
    float: left;
  }
  #navContainer {
    float: left;
  }
}

// application.hbs
@media (max-width: 1233px) and (min-width: 1001px) {
  #header-mid {
    width: 26% !important;
  }
  .navbar-brand {
    padding: 0px !important;
    margin: 0px !important;
  }
  #header-left {
    width: 34% !important;
  }
}

// application.hbs small screen
@media screen and (max-width: 800px) {
  .navbar-brand {
    padding-left: 0px !important;
  }
  #navContainer {
    padding-left: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .map-step {
    font-size: 14px !important;
  }
}
@media screen and (min-width: 1000px) {
  #navbar-brand-collapsed {
    display: none !important;
  }
}

// cesium controls

@media screen and (max-height: 800px) {
  .map-step {
  }
  #select-group, #year-group, #submit-group, #rcp-group, #map-legend {
    margin: 4px !important;
  }
  }
@media screen and (max-width: 400px) {
  .navbar-brand {
    padding-bottom: 0px;
  }
  .logo-globe {
    display: none;
  }
  .container-fluid {
    padding-top: 0px;
  }
  #cesium-submain {
    overflow: scroll !important;
  }
}

// application.hbs
@media screen and (max-width: 1233px) {
	.heading-slim {
		display: inherit !important;
	}
	.heading-wide {
		display: none;
	}
	#header-right {
		width: 40% !important;
	}
}

// cesium for tablet
@media screen and (max-width: 999px) {
  #cesium-submain {
    overflow-y: scroll !important;
  }  
  #cesium-left-col {
    width: 32%;
    font-size:11px;
  }
  #cesium-mid-col {
    display: none;
  }
  #cesium-right-col {
    width: 64%;
  }
  #map-legend, .credits-container {
    display: none;
  }
  .map-legend-tablet, .credits-container-tablet, .year-group-tablet {
    display: inherit !important;
  }
  .credits-container-tablet {
    width: 40%;
  }
  .year-group-large {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .credits-container-tablet {
    display: none;
  } 
  .year-group-tablet {
  display: none;
  }
}
@media screen and (min-width: 1500px) {
  .map-step {
    font-size: 20px !important;
  }
}
@media screen and (min-width: 1280px) {
  #cesium-left-col {
    width: 300px !important;
    float: left !important;
  }
  #cesium-right-col {
    float: right !important;
  }
  #cesium-mid-col {
    width: 130px !important;
    margin-left: 0.4%;
  }
}
@media screen and (max-width: 1280px) {
  #map-legend {
    h3 {
      font-size: 13px;
    }
  }
}
