{{!-- see cesium-tmp.hbs for code --}}
<div id="cesium-main" data-video="http://player.vimeo.com/external/97766233.sd.mp4?s=5df211c4da525ce8da33fddd981d52df">
  <div class="col-md-12 full-height" style="overflow:hidden;">
    <div class="col-md-3 full-height" style="margin-top:120px;">
      <div class="form-horizontal span8">
        <div id="plant-desc" class="map-step">
          <button class="button-primary" {{action "reloadLayers"}}>
            Click me!
          </button>
          <br>
          Step 1: Choose a species
          <div id="maptips" class="tip1">&nbsp;
            <span class="tips">
              <h3>How do I get a map?</h3><br>
              <h4>Follow these steps to get a map.</h4>
              <ol>
                <li>Select desired tree species</li>
                <li>Select desired climate scenario</li>
                <li>Select a year</li>
                <li>Click GET MAP to refresh Google Earth with your final selections.</li>
              </ol>
            </span>
          </div>
        </div> 
      </div>
      <p><hr class="maps-hr"></p>
      <div class="form-group" style="margin:0px !important;">
        <div class="controls">
          {{!--{{view Emeber.Select
            id="plantSelect"
            contentBinding="controller.plants.arrangedContent"
            optionValuePath="content.sci_name"
            optionLabelPath="content.name"
            valueBinding="selectedPlant"
            prompt="Select a Species..."
          }}--}}
        </div>
      </div>
    </div>
    <!-- start here -->
    <div class="col-md-1 full-height">
    </div>
    <div class="col-md-8 full-height">
      <div id="cesiumViewContainer" class="container full-hw">
        <div id="cesiumContainer" style="margin-top:120px;"></div>
      </div>
    </div>
  </div>
</div>












