{{!-- see cesium-tmp.hbs for code --}}
<div id="cesium-main" data-video="http://player.vimeo.com/external/97766233.sd.mp4?s=5df211c4da525ce8da33fddd981d52df">
  <div id="cesium-submain" class="col-md-12 full-height">
    <div id="cesium-left-col" class="col-md-3 full-height">
      <div class="form-horizontal span8">
        <div id="plant-desc" class="map-step">
          <button class="button-primary" {{action "reloadLayers"}}>
            Click me!
          </button>
          <br>
          Step 1: Choose a species
          <div id="maptips" class="tip1">&nbsp;
            <span class="tips">
              <h3>How do I get a map?</h3><br>
              <h4>Follow these steps to get a map.</h4>
              <ol>
                <li>Select desired tree species</li>
                <li>Select desired climate scenario</li>
                <li>Select a year</li>
                <li>Click GET MAP to refresh Google Earth with your final selections.</li>
              </ol>
            </span>
          </div>
        </div> 
      </div>
      <p><hr class="maps-hr"></p>
      <div class="form-group form-group-1">
        <div class="controls">
          {{view "select"
            id="plantSelect"
            contentBinding=plants
            optionValuePath="content.sci_name"
            optionLabelPath="content.name"
            valueBinding="selectedPlant"
            prompt="Select a Species..."
          }}
        </div>
      </div>
    </div>
    <!-- start here -->
    <div id="rcp-group" class="rcp-toolbar btn-group rcp-group-toolbar">
    </div>




    <div id="cesium-mid-col" class="col-md-1 full-height">
    </div>
    <div id="cesium-right-col" class="col-md-8 full-height">
      <div id="cesiumViewContainer" class="container full-hw">
        <div id="cesiumContainer"></div>
      </div>
    </div>
  </div>
</div>












