{{#popup-modal title='Choose a species' close='removeModal'}}
  <div>
    <h1>Title: {{title}}</h1>
    <p>
      <h4>Follow these steps to get a map.</h4>
      <ol>
        <li>Select desired tree species</li>
        <li>Select desired climate scenario</li>
        <li>Select a year</li>
        <li>Click GET MAP to refresh Cesium with your final selections.</li>
      </ol>
    </p>
  </div>
{{/popup-modal}}

