<div class="bcg screen" id="screen-welcome" data-video="http://player.vimeo.com/external/97766235.hd.mp4?s=7164cf5084a9202595219b22b4506f2f">
  <div class="full-height">
    <div class="sloganContainer">
      <span class="slogan">
        Visualizing different forest futures...
      </span>
    </div>
    <div>
      <div>
        {{#link-to "cesium" id="banner-text"}}
          <span class="img-circle bannerContainer">
            <div class="fill-lite explore-text">
              <br>Explore<br>Forest<br>Forecasts<br>Here
            </div>
          </span>
        {{/link-to}}
      </div>
    </div>
    <div class="col-md-6 fill-lite left-overlap">
      <div class="hsContainer">
        <div class="hsContent welcome-content">
          <div id="welcome-left"class="row">
            {{#link-to "headlines" "about" class="btn-text" tagName="button"}}About {{fa-icon "camera"}}{{/link-to}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 fill-dark right-overlap">
      <div class="hsContainer">
        <div class="hsContent welcome-content">
          <div id="welcome-right" class="row">
            {{#link-to "" class="btn-text" tagName="button"}}Methods{{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
